:root {
  --background-color: #fff;
  --background-accent-color: #2f303a;
  --main-text-color: #ffffff;
  --title-text-color: #212121;
  --focus-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-letter-spacing: 0.03em;
  --link-text-color: #757575;
  --background-btn: #f5f4fa;
  --background-focus-color: #188ce8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
