.team {
  background: var(--background-btn);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employees__item {
  width: calc(100% - 90px) / 4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.employees__wrap {
  text-align: center;
  padding: 30px 0;
}

.employees__top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.employees__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--link-text-color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--focus-color);
    color: var(--main-text-color);
  }
}

.social__link--light {
  background-color: var(--background-color);
  color: #afb1bb;
}
.social__icon {
  fill: currentColor;
}
